/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/
:root{
    --color-gray-0: #ffffff;
    --color-gray-1: #f7f7f7;
    --color-gray-10: #1c1c1c;
    --color-gray-2: #f2f2f2;
    --color-gray-3: #e6e6e6;
    --color-gray-4: #c6c6c6;
    --color-gray-5: #aeaeae;
    --color-gray-6: #959595;
    --color-gray-7: #656565;
    --color-gray-8: #4c4c4c;
    --color-gray-9: #343434;

    --color-brand-10: #0F0508;
    --color-brand-20: #2C0E14;
    --color-brand-30: #4A151c;
    --color-brand-40: #691B20;
    --color-brand-50: #8A1F1F;
    --color-brand: #AD2A21;
    --color-brand-60: #BF4A5D;
    --color-brand-70: #D17598;
    --color-brand-80: #E1A0C7;
    --color-brand-90: #F0CDEA;
    --color-brand-100: #FEFAFE;

    /* whitespace */
    --space-05: 0.25rem; /* 4px */
    --space-1: 0.5rem; /* 8px */
    --space-2: 0.625rem; /* 10px */
    --space-3: 0.75rem; /* 12px */
    --space-4: 1rem; /* 16px */
    --space-5: 1.25rem; /* 20px */
    --space-6: 1.5rem; /* 24px */
    --space-7: 2rem; /* 32px */
    --space-8: 2.5rem; /* 40px */
    --space-9: 3rem; /* 48px */
    --space-10: 3.5rem; /* 56px */

    /* radius */
    --radius-1: 0.25rem; /* 4px */
    --radius-2: 0.375rem; /* 6px */
    --radius-3: 0.5rem; /* 8px */

    /* font sizes */
    --font-size-meta: 0.625rem;
    --font-size-s: 0.75rem;
    --font-size-m: 1rem;
    --font-size-m-hover: 1.25rem;
    --font-size-l: 1.5rem;

    /* font weight */
    --font-weight-n: 400;
    --font-weight-b: 700;

    @media (prefers-color-scheme: dark) {
        --color-text: var(--color-brand-100);
        --color-border: var(--color-gray-8);

        --background-1: var(--color-gray-10);
        --background-2: var(--color-gray-8);

    }

    @media (prefers-color-scheme: light) {
        --color-text: var(--color-gray-10);
        --color-border: var(--color-gray-1)

        --background-1: var(--color-gray-0);
    }
}


/*---------------------------------------/*
 # GENERIC
/*---------------------------------------*/

body{
    display: flex;
    font-family: Inter, Arial,'Courier New', Courier, monospace;
    background-color: var(--background-1);
    color: var(--color-text);
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/

main{
    align-self: center;
    margin: var(--space-10);
}

nav {
    height: 15dvh;
    width: 100dvw;
    position: relative;
    background-color: transparent;
    z-index: 1;   
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a{
    z-index: 10;
    text-decoration: none;
    color: var(--color-text);
    transition: 0.2s;
    font-size: var(--font-size-m);
    padding: var(--space-4) var(--space-3);
    border: var(--color-border) 1px solid;
    margin: 0 var(--space-1);
    border-radius: var(--radius-2);
}

nav a:hover{
    color: var(--color-brand);
    transition: 0.2s;
    background-color: #00000078;
}

nav canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    pointer-events: none;
}

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/

/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/
.c-nav-container{
    width: fit-content;
    padding: var(--space-6);
    backdrop-filter: blur(0.4rem);
}


.c-example__container{
    display: flex;
}

.c-example{
    background-color: var(--background-2);
    padding: var(--space-4);
    margin: var(--space-4);

}
/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/

